{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Azeem's Flask Project</strong></h1>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">What is this?</h5>
                    <p class="card-text">This is a local site that was made using a Flask repository template. It is able to run on a local server when main.py in the repository is executed.</p>
                    <img class="card-img" src="{{ url_for('static', filename='assets/questionmark.png') }}" alt="What is this for" height="800">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.net.min.js') }}"></script>
    <script>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
{% endblock %}